name: Git Changelog Github Release

on:
  workflow_call:

jobs:
  build:
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-tags: "true"
          fetch-depth: "0"

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: 17

      - uses: tomasbjerre/git-changelog-github-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
